<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284769376851-iicr5g9cr7ekgm327094mvc24u1d0s9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284769376851-iicr5g9cr7ekgm327094mvc24u1d0s9g</string>
	<key>API_KEY</key>
	<string>AIzaSyAXvH9aujoAFh00N7zTkwmkbeozDtjhTG0</string>
	<key>GCM_SENDER_ID</key>
	<string>284769376851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DNA.Interview-Houding---Gedrag</string>
	<key>PROJECT_ID</key>
	<string>houding-en-gedrag</string>
	<key>STORAGE_BUCKET</key>
	<string>houding-en-gedrag.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284769376851:ios:2d79675d0ba99061fb84a6</string>
	<key>DATABASE_URL</key>
	<string>https://houding-en-gedrag.firebaseio.com</string>
</dict>
</plist>